{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load staticfiles %}
{% block title %}{% trans "Sign In" %}{% endblock %}

{% block caption %}{% trans "Sign in" %}{% endblock %}

{% block body %}
{% get_providers as socialaccount_providers %}

{% load widget_tweaks %}
<div class="row">
	<div class="col-sm-6">
{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<br><br><br><br><br><br><br>
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}
<br><br><br>
	<form action="{% url 'account_login' %}" method="post">
		{% csrf_token %}

		{% if form.non_field_errors %}
		<div class="row">
			<div class="col s12">
			  <ul class="collection">
			    {% for error in form.non_field_errors %}
			      <li class="collection-item orange-text error">{{ error }}</li>
			    {% endfor %}
			  </ul>
			</div>
		</div>
		{% endif %}

		{% for field in form %}
			{% if field.label == 'Remember Me' %}
				{{field.label}}
			{% endif %}
			<div class="row">
	        	<div class="input-field col-sm-12">
			    	{{ field|add_class:'form-control' }}
			    	<label for="{{ field.id_for_label }}" >
			    		<span class="form-field-error">{{ field.errors.as_text }}</span>
			    	</label>
		    	</div>
		    </div>

		{% endfor %}
	    {% if redirect_field_value %}
	    <input  type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	    {% endif %}
	    <br><br>
	    <p><a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
		<button class="btn waves-effect waves-light teal darken-2" type="submit" name="action">
	    	{% trans "Sign In" %}
	  	</button>
	</form>
	<br><br>
	</div>
	<div class="col-md-6">
		<br><br>
		<video class="video-fluid" height="600" width="600" autoplay loop>
                    <source src="{%static 'img/Lines.mp4' %}" type="video/mp4" />
                </video>
		<!-- <img src="{% static 'img/bg-pricing.jpeg' %}"> -->
	</div>
</div>
<div class="row">
		    <div class="col-md-3 col-sm-3">
		        <button class="btn btn-social btn-fill btn-google">
		            <i class="fa fa-google-square"></i> Login with Google+
		        </button>
		    </div>
		    <div class="col-md-3 col-sm-3">
				<button class="btn btn-social btn-fill btn-linkedin">
					<i class="fa fa-linkedin-square"></i> Login with Linkedin
				</button>
		    </div>
		    <div class="col-md-3 col-sm-3">
				<button class="btn btn-social btn-fill btn-twitter">
				    <i class="fa fa-twitter"></i> Login with Twitter
				</button>
		    </div>
		    <div class="col-md-3 col-sm-3">
		        <button class="btn btn-social btn-fill btn-github">
		            <i class="fa fa-github"></i> Login with Github
		        </button>
		    </div>
		</div>
	</div>

{% endblock %}